div.tooltip {	
    position: absolute;			
    text-align: left;			
    max-width: 200px;				
    max-height: 200px; 
    padding: 10px;			
    font: 28px;		
    font-family: 'Inria Serif', serif;
    /* background-color:  #1C474D; 
     color: white;	 */
    pointer-events: none;	
    background-color:   white; 
    color:black;	
    border-color: black;
    border-style: solid;
    border-width: thin;	
    /* line-height: 0.2;	 */
  }

 .rect:hover {
    stroke-width: 3px;
    fill: #5F5D5C;
  }

  .label {
    font-size: 26px;
    /* text-align: left;
    line-height: 1.4; */
    }

 .label_h {
    font-size: 22px;
    /* text-align: left;
    line-height: 1.4; */
    }

.label_word {
    font-size: 26px;
    /* text-align: left;
    line-height: 1.4; */
    }

    body {
    font-family: 'Teko', sans-serif;
    /* background-color: darkgrey; */
}
path:hover{
    stroke-width: 3px;
    /* fill: #5F5D5C; */
}
  

  #content {
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr 4fr 0.5fr;
    column-gap: 1.5%;
    /* width: 90vw; */
    /* height: 60vh; */
  }

  #charts {
    display: grid;
    grid-template-columns: 4fr 4fr;
    column-gap: 1%;
  }
  .title{
      font-size: 32px;
      font-weight: 300;
  }
  .subtitle{
      font-size: 28px;
  }
