div.tooltip {	
    position: absolute;			
    text-align: left;			
    max-width: 200px;				
    max-height: 200px; 
    padding: 10px;			
    font: 28px;		
    font-family: 'Inria Serif', serif;
    /* background-color:  #1C474D; 
     color: white;	 */
    pointer-events: none;	
    background-color:   white; 
    color:black;	
    border-color: black;
    border-style: solid;
    border-width: thin;	
    /* line-height: 0.2;	 */
  }

 .rect:hover {
    stroke-width: 3px;
    fill: #5F5D5C;
  }

  .label {
    font-size: 26px;
    /* text-align: left;
    line-height: 1.4; */
    }

 .label_h {
    font-size: 22px;
    /* text-align: left;
    line-height: 1.4; */
    }

.label_word {
    font-size: 26px;
    /* text-align: left;
    line-height: 1.4; */
    }

    body {
    font-family: 'Teko', sans-serif;
    /* background-color: darkgrey; */
}
/* adding background to vertical chart */
/* #d3-container {
    /* background-color: #E8E5E4;
    background-color: #F4F2F1;
    width: 35%;
} */

/* adding background to horizontal chart */
/* #d3-container1 {
    background-color: #E8E5E4; 
    /* background-color: #F4F2F1; 
    width: 62%;
    height: 60%;
} */

#d3-container{
    display: grid;
    grid-template-columns: 5fr 4fr;
    width: 100vw;
    height: 80vw;
  }

  #d3-container1{
    display: grid;
    grid-template-columns: 7fr 4fr;
    width: 100vw;
    /* height: 90vw; */
  }